<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
  <add name="Gerenciador.Properties.Settings.CST" connectionString="Data Source=JUNINHO\SQLEXPRESS;Initial Catalog=db_gerenciador_financeiro;Integrated Security=True" />
  <add name="Gerenciador.Properties.Settings.db_gerenciador_financeiroConnectionString"
   connectionString="Data Source=JUNINHO\SQLEXPRESS;Initial Catalog=db_gerenciador_financeiro;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>